body{

}

/*--------HEADER-----*/
header{
    text-align: center;
}

#conteiner-logo{
    border: 1px solid black;
    margin-inline: 30%;
    margin-block: 4%;
    padding: 6%;
    background-color: #7ef5f5;
    box-shadow:  1px 1px 2px black;
    height: 215px;
}
#logo{
    max-width: 100%;
}

#testo{
    color: white;
    margin-bottom: 8%;
    margin-top: 15%;
}

nav{
    margin-top: 15%;
}
 ul a {
    color: white;
    padding: 10%;
 }

.lista{
    margin-top: 3%;
    outline: none;
}

.lista-iniziale{
    text-decoration: none;
}



/*----Main-----*/
main{
    text-align: center;
    background-color: #f0f0f0;
    

}


#contenitore-principale{
    border: 1px solid black;
    margin-inline: 30%;
}

#titolo{
    margin-top: 10%;
    font-weight: bold;
    font-size: 250%;
    text-align: left;
    margin-left: 6%;
}

#autore{
    margin-top: 10%;
    text-align: left;
    margin-left: 6%;
}



p span{
    color: red;
}


.content{
    margin-top: 10%;
    font-size: 148%;
    text-align: left;
    margin-left: 6%;
}

content p, p, ul{
    margin-top: 10%;
}

#second-list{
    list-style-type: disc;
    margin-left: 5%;
}


.lista2{
    padding: 2%;
}

code {
    background-color: #e3e3e3 ;
    border: 1px solid #969494 ;
    border-radius: 5px;
   
}

#three-list{
    list-style-type: decimal;
    margin-left: 5%;
    margin-top: 10%;    
}

.lista3{
    padding: 2%;
}


/*---inizio tabella----*/
table{
    margin-top: 10%;
    margin-inline: 5%;
}
caption{
    font-size: 125%;
    font-weight: bold;
}
#tr {
    background-color:#3f6bca;
    color: ■#ffffff;
}

th, td {
padding: 12px 15px;
vertical-align: bottom;
text-align: center;
}


.riga-grigia{
    background-color: #dddddd;
    border-top:1px solid #dddddd
}


/*----video----*/
#tool-online{
    color: cornflowerblue;
}

iframe{
    width: 90%;
    border-radius: 5%;
    height: auto;
    margin-top: 5%;
}

/*---newsletter---*/

#newsletter{
    margin-top: 20%;
    margin-inline: 4%;
    background-color: #e3e3e3;
    margin-bottom: 20%;
    height: 190px;


}

section h3{
    padding: 5%;
    font-size: 25px;


}

#testo-newsletter{
    font-size: 21px;
    text-align: left;
    margin-left: 4%;
    margin-top: 5%;

}
   

#form{
    margin-top: 9%;
}

form button{
    color: white;
    background-color: #3f6bca;
}


/*-----ARTICOLI CORRELATI------*/

section h2{
    font-size: 30px;
    margin-bottom: 30px;
    font-weight: bold;
}



.articoli-correlati{
    background-color: #e3e3e3;
    border: 1px solid #c3c3c3;
    margin-bottom: lem;
    padding: 1em;
    margin-inline: 4%;
    text-align: left;
    margin-bottom: 7%;
}
.par-artcor{
    margin-top: 2%;
}

.data{
    margin-bottom: 0;
    font-size: 0.8em;
    text-align: right;
}

.link-art{
    color:#3f6bca;
}


/*------footer----*/
footer{
    box-shadow: 0 3px 3px #444;
    color: #f0f0f0 ;
    padding: 1em;
    text-align: center; 
    font-size: 18px;  
    background: #3c72d8;
    margin-block: 4%;
    margin-inline: 30%;
}

#para-foot{
    margin-top: 0;
}

#link-footer{
    color: fuchsia;
}




    
